@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&family=Source+Sans+Pro:wght@600&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}
.main-nav {
  background: #e5e5e5 !important;
}
.navbar .logo {
  font-family: Sansita;
  color: #026799;
  font-weight: 600;
  font-size: 2rem;
  margin: 0 1rem;
}
.navbar-light .navbar-nav .nav-link.nav-btn {
  background-color: #026799;
  color: white;
  transition: transform 0.3s ease-in-out;
}
.navbar-light .navbar-nav .nav-link.nav-btn:hover {
  background-color: #044666;
  color: white;
  transform: scale(1.1);
}
.list {
  color: #333333;
  font-size: 1.5rem;
  margin: 0 0.4rem;
}
.content-1 {
  margin-top: 3rem;
}
.content-1 .header {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  float: right;
}
.content h2 {
  font-weight: 600;
  /* font-size: 50px; */
  text-align: left;
}
.checkboxes {
  margin: 2rem 0;
}
.content p {
  color: rgba(53, 133, 173, 0.7);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}
.card {
  box-shadow: 2px 2px 20px rgba(88, 88, 88, 0.25);
  width: 100%;
  margin: 0;
}
/* .form {
  margin: 4rem 2rem;
  font-family: "Source Sans Pro", sans-serif;
} */
.illustration {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 2rem;
}
/* input[type="number"] {
  padding: 2rem 1rem;
} */
::placeholder {
  color: rgba(0, 0, 0, 0.36);
}
/*check box*/
.bvn-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.bvn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.bvn-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.bvn-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.bvn-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.bvn-container .checkmark:after {
  left: 9px;
  top: 4px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.text {
  margin: 1rem 0;
}
.text p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 137.3%;
  color: #02354e;
}
.button {
  margin-top: 2rem;
}
.button .verify {
  width: 100%;
  background: #026799 !important;
  font-size: 24px;
}
@media only screen and (max-width: 600px) {
  .content-1 .header {
    width: 100%;
  }
  .content-1 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .content h2 {
    /* font-size: 26px; */
    text-align: center;
  }
  .content p {
    font-size: 17px;
    text-align: center;
  }
  .cont {
    min-width: 100% !important;
  }
  /* .form {
    margin: 1.5rem 0;
  } */
  input[type="number"] {
    padding: 1.5rem 1rem;
    font-size: 12px;
    margin: 0;
  }
  input[type="number"] {
    padding: 1.5rem 1rem;
    font-size: 12px;
  }
  .bvn-container {
    font-size: 11px;
  }
  .checkmark {
    width: 15px;
    height: 15px;
  }
  .bvn-container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
  }
  .text p {
    font-size: 12px;
  }
  .button .verify {
    font-size: 15px;
  }
  .list {
    text-align: center;
    font-size: 10px;
  }
}

/* Section 2 style beginning */

/*Section 2*/
.section-1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.intro-content {
  margin-top: 2rem;
}

.text-header {
  text-align: center;
}

.text-header h2 {
  color: #02354e;
}

.text-header p {
  color: rgba(53, 133, 173, 0.7);
}

.loan-image img {
  width: 100%;
}

.loan-form-container {
  margin-top: 2rem;
}

.loan-form-container .card {
  box-shadow: 2px 2px 20px rgba(88, 88, 88, 0.25);
}

.loan-btn {
  background-color: #026799;
  color: white;
}

.loan-btn:hover,
.loan-btn:focus {
  color: white;
  background-color: #024262;
}

#results,
#loading {
  display: none;
}

#loading {
  text-align: center;
}

#close {
  cursor: pointer;
}

/* Footer */
.footer {
  background: rgba(0, 136, 204, 0.04);
  margin-top: 4rem;
  padding: 5%;
}

.footer-body {
  flex-direction: column-reverse;
}

.footer .info p {
  font-size: 0.875rem;
}

.logo-text {
  color: #026799;
}

.quick-links,
.company {
  list-style: none;
  padding: 0;
}

.quick-links li:not(:first-child),
.company li:not(:first-child) {
  margin: 1rem 0;
}

.social-links i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.fa-facebook-official {
  color: #3b5998;
}

.fa-twitter-square {
  color: #55acee;
}

.fa-instagram {
  color: #ea4f56;
}

@media screen and (min-width: 768px) {
  .footer-body {
    flex-direction: row;
  }

  .illustration {
    width: 100%;
    margin-bottom: 0;
  }
}
/* Section 2 style end */

@media only screen and (min-width: 600px) {
  .illustration {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
  }
  .content h2 {
    text-align: center;
  }
  .content p {
    text-align: center;
  }
  .list {
    font-size: 14px;
    margin: 0.1rem;
    text-align: center;
  }
  /* .form {
    margin: 0.6rem 0;
  } */
  .bvn-container {
    font-size: 15px;
  }
  .text p {
    font-size: 15px;
  }
}
@media only screen and (min-width: 771px) {
  .button .verify {
    font-size: 17px;
  }
  .text p {
    font-size: 17px;
  }
  .list {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1114px) {
  /* .form {
    margin: 3rem 1.5rem;
  } */
  .list {
    font-size: 20px;
  }
  .content-1 .header {
    text-align: center;
  }
  .content h2 {
    font-weight: 600;
    /* font-size: 50px; */
    text-align: center;
  }
  .content p {
    font-size: 25px;
    text-align: center;
  }
  /* .illustration {
    width: 70%;
  } */
  .checkboxes {
    margin: 2rem 0;
  }
}

/* on fail css code */
.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.failed-box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 520px;
  background: #ffffff;
  box-shadow: 2px 2px 20px rgba(88, 88, 88, 0.25);
  border-radius: 4px;
  text-align: center;
  padding: 1rem;
}
.fa-times-circle {
  margin-top: 120px;
  margin-bottom: 30px;
  color: #eb4747;
  font-size: 100px;
}

/* on success css code */
.error-modal .fa-times {
  position: absolute;
  top: 40px;
  right: 35px;
  font-size: 20px;
  color: #026799;
}

.error-modal h1 {
  font-size: 30px;
  margin-bottom: 0;
  color: #02354e;
}

.error-modal p {
  margin-top: 2px;
  margin-bottom: 50px;
  color: #3585ad;
}

.error-modal button {
  width: 255px;
  height: 40px;
  color: #fff;
  background: #026799;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.error-modal button:hover {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.check-circle {
  margin-top: 120px;
  margin-bottom: 30px;
  border-radius: 50% 50%;
  padding: 19px 15px;
  border: 10px solid rgb(17, 161, 17);
}

.success-box {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 2px 2px 20px rgba(88, 88, 88, 0.25);
}

.success-box .card {
  width: 400px;
  height: 520px;
}

@media (max-width: 455px) {
  .success-box,
  .failed-box {
    width: 90%;
  }

  .success-box .card {
    width: 100%;
    margin: auto;
  }

  .success-box button,
  .failed-box button {
    width: 100%;
  }
}
